asgiref==3.8.1
currencyconverter==0.18.3
debugpy==1.8.12
django==5.1.7
django-debug-toolbar==5.0.1
django-types==0.20.0
pillow==11.1.0
pip==24.3.1
setuptools==75.8.0
sqlparse==0.5.3
types-psycopg2==2.9.21.20250318
tzdata==2025.1
