<section class="container mx-auto px-8 lg:px-16 py-20">
   <h2 class="text-3xl font-semibold text-black mb-8">Winter Essentials</h2>
   <div class="relative">
      <div class="vf-c-carousel">
         <div class="vf-c-carousel__slides">
            <!-- Product 1 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">BEST SELLER</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Men's HeatGear® Sleeveless"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#1C2B4B"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-blue"
                           title="View Color Green/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Men's HeatGear® Sleeveless</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$30.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 2 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">NEW ARRIVAL</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Women's Winter Parka"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#1C2B4B"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-blue"
                           title="View Color Green/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Women's Winter Parka</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$199.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 3 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">SALE</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Winter Snow Boots"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#1C2B4B"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-blue"
                           title="View Color Green/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Winter Snow Boots</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$89.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 4 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">BEST SELLER</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Men's Winter Jacket"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#1C2B4B"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-blue"
                           title="View Color Green/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Men's Winter Jacket</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$149.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 5 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">NEW ARRIVAL</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Women's Thermal Base Layer"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="pink-purple"
                           title="View Color Pink/Purple">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#FFC0CB"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#800080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="red-black"
                           title="View Color Red/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#FF0000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Women's Thermal Base Layer</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$49.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 6 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">SALE</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Winter Ski Gloves"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-blue"
                           title="View Color Green/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="orange-yellow"
                           title="View Color Orange/Yellow">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#FFA500"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#FFFF00"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Winter Ski Gloves</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$34.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 7 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">NEW</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Winter Snow Boots"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="brown-tan"
                           title="View Color Brown/Tan">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#8B4513"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#D2B48C"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-white"
                           title="View Color Navy/White">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#FFFFFF"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Winter Snow Boots</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$89.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 8 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">TRENDING</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Winter Beanie Hat"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-blue"
                           title="View Color Green/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="blue-red"
                           title="View Color Blue/Red">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#0066CC"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#FF0000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Winter Beanie Hat</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$24.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 9 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">NEW</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Winter Scarf"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="red-blue"
                           title="View Color Red/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#FF0000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-yellow"
                           title="View Color Green/Yellow">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#FFD700"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="purple-pink"
                           title="View Color Purple/Pink">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#800080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#FFC0CB"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Winter Scarf</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$19.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 10 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">SALE</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Winter Jacket"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="navy-gray"
                           title="View Color Navy/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="brown-beige"
                           title="View Color Brown/Beige">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#8B4513"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#F5F5DC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="olive-khaki"
                           title="View Color Olive/Khaki">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#F0E68C"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-white"
                           title="View Color Black/White">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#FFFFFF"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Winter Jacket</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$129.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 11 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">HOT</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Winter Socks"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="red-black"
                           title="View Color Red/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#FF0000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="blue-white"
                           title="View Color Blue/White">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#0066CC"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#FFFFFF"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-yellow"
                           title="View Color Green/Yellow">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#FFD700"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="purple-orange"
                           title="View Color Purple/Orange">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#800080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#FFA500"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Winter Socks</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$14.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 12 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">POPULAR</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Winter Mittens"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="red-white"
                           title="View Color Red/White">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#FF0000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#FFFFFF"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-gray"
                           title="View Color Navy/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-black"
                           title="View Color Green/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="purple-gray"
                           title="View Color Purple/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#800080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Winter Mittens</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$29.99</span>
                     </p>
                  </div>
               </a>
            </div>
         </div>
         <button class="vf-c-carousel__prev-btn" aria-label="Previous">
            <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="2"
               stroke="currentColor"
               class="w-6 h-6">
               <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
         </button>
         <button class="vf-c-carousel__next-btn" aria-label="Next">
            <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="2"
               stroke="currentColor"
               class="w-6 h-6">
               <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
         </button>
      </div>
   </div>
</section>
