<section class="container mx-auto px-8 lg:px-16 py-20">
   <h2 class="text-3xl font-semibold text-black mb-8">Featured</h2>
   <div class="relative">
      <div class="vf-c-carousel">
         <div class="vf-c-carousel__slides">
            <!-- Product 1 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">BEST SELLER</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Men's HeatGear® Sleeveless"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#1C2B4B"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-blue"
                           title="View Color Green/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Men's HeatGear® Sleeveless</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$30.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 2 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">BEST SELLER</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Men's HeatGear® Compression Shorts"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#1C2B4B"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-blue"
                           title="View Color Green/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Men's HeatGear® Compression Shorts</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$30.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 3 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Women's HeatGear® OG Compression Tank"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#1C2B4B"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-blue"
                           title="View Color Green/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Women's HeatGear® OG Compression Tank</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$30.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 4 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Women's HeatGear® Armour Mid Branded Sports Bra"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#FFFFFF"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#1C2B4B"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#000000"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#808080"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="green-blue"
                           title="View Color Green/Blue">
                           <svg width="100%" height="100%" viewBox="0 0 32 32" aria-hidden="true">
                              <path d="M 0 6 a 6 6 0 0 1 6 -6 h 10 v 32 h -10 a 6 6 0 0 1 -6 -6 Z" fill="#228B22"></path>
                              <path d="M 16 0 h 10 a 6 6 0 0 1 6 6 v 20 a 6 6 0 0 1 -6 6 h -10 Z" fill="#0066CC"></path>
                              <rect x="0.5" y="0.5" width="31" height="31" rx="5.5" stroke-width="1" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Women's HeatGear® Armour Mid Branded Sports Bra</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__price-range">$26.97 - $35.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 5 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Kids' UA Icon Fleece Hoodie"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#1C2B4B"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#000000"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#808080"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Kids' UA Icon Fleece Hoodie</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__discount-price">$45.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 6 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Kids' UA Icon Fleece Joggers"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#1C2B4B"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#000000"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#808080"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Kids' UA Icon Fleece Joggers</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__discount-price">$40.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 7 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Kids' UA Icon Fleece Crew"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#1C2B4B"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#000000"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#808080"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Kids' UA Icon Fleece Crew</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__discount-price">$35.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 8 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Kids' UA Icon Fleece Shorts"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#1C2B4B"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#000000"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#808080"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Kids' UA Icon Fleece Shorts</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__discount-price">$30.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 9 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">NEW</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Women's UA Storm ColdGear® Infrared Shield Jacket"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#1C2B4B"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#000000"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#808080"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Women's UA Storm ColdGear® Infrared Shield Jacket</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$89.99</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 10 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">NEW</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Men's Project Rock Charged Cotton® Fleece Hoodie"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#1C2B4B"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#000000"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#808080"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Men's Project Rock Charged Cotton® Fleece Hoodie</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$75.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 11 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <div class="vf-c-product-card__badge">SALE</div>
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Youth UA Rival Fleece Big Logo Hoodie"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#1C2B4B"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#000000"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#808080"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Youth UA Rival Fleece Big Logo Hoodie</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__discount-price">$39.99</span>
                        <span class="vf-c-product-card__regular-price line-through ml-2">$55.00</span>
                     </p>
                  </div>
               </a>
            </div>
            <!-- Product 12 -->
            <div>
               <a href="#" class="vf-c-product-card">
                  <button class="vf-c-product-card__wishlist" aria-label="Add to Wishlist">
                     <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                     </svg>
                  </button>
                  <div class="vf-c-product-card__assets">
                     <img src="https://placehold.co/555x650"
                        alt="Women's UA RUSH™ ColdGear® Leggings"
                        width="555"
                        height="650"
                        class="vf-c-product-card__img">
                     <div class="vf-c-product-card__colors">
                        <button class="color-swatch"
                           data-color="white-navy"
                           title="View Color White/Navy">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#FFFFFF"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#1C2B4B"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="navy-black"
                           title="View Color Navy/Black">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#1C2B4B"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#000000"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="black-gray"
                           title="View Color Black/Gray">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#000000"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#808080"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                        <button class="color-swatch"
                           data-color="gray-green"
                           title="View Color Gray/Green">
                           <svg width="100%" height="100%" viewBox="0 0 20 20" aria-hidden="true">
                              <path d="M 0 4 a 4 4 0 0 1 4 -4 h 6 v 20 h -6 a 4 4 0 0 1 -4 -4 Z" fill="#808080"></path>
                              <path d="M 10 0 h 6 a 4 4 0 0 1 4 4 v 12 a 4 4 0 0 1 -4 4 h -6 Z" fill="#228B22"></path>
                              <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke-width="0.75" stroke="#d0d0d0" fill="none"></rect>
                           </svg>
                        </button>
                     </div>
                  </div>
                  <div class="vf-c-product-card__copy-container">
                     <div class="vf-c-product-card__title">Women's UA RUSH™ ColdGear® Leggings</div>
                     <p class="vf-c-product-card__price">
                        <span class="vf-c-product-card__regular-price">$65.00</span>
                     </p>
                  </div>
               </a>
            </div>
         </div>
         <!-- Navigation Buttons -->
         <button class="vf-c-carousel__prev-btn" aria-label="Previous">
            <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="2"
               stroke="currentColor"
               class="w-6 h-6">
               <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
         </button>
         <button class="vf-c-carousel__next-btn" aria-label="Next">
            <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="2"
               stroke="currentColor"
               class="w-6 h-6">
               <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
         </button>
      </div>
   </div>
</section>
